@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Archivo+Black&family=Aref+Ruqaa:wght@400;700&family=Boldonse&family=Cairo:wght@200..1000&family=Caprasimo&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Caveat:wght@400..700&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Delius&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lalezar&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Odibee+Sans&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+AU+NSW:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Reem+Kufi+Fun:wght@400..700&family=Saira:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&family=Sevillana&family=Story+Script&family=Teko:wght@300..700&family=Tektur:wght@400..900&family=WDXL+Lubrifont+JP+N&family=WDXL+Lubrifont+SC&display=swap');

body{
  background-color: black;
}

.direction {
  direction: ltr;
}

.IslamicFont{
  font-family: "Aref Ruqaa", serif;
}

.triangle{
  clip-path: polygon(50%  0% , 100% 100% , 0% 100%);
}

.shadow{
  box-shadow: 10px 10px 30px 10px red;
  animation: shadow 2s infinite linear;
}
@keyframes shadow {
  0%{
    box-shadow: none;
  }
  50%{
  box-shadow: 10px 10px 20px 10px red;
  }
  100%{
  box-shadow: none;
  }
}

.shadow1{
  box-shadow: 10px 10px 30px 10px blue;
  animation: shadow1 2s infinite linear;
}
@keyframes shadow1 {
  0%{
    box-shadow: none;
  }
  50%{
  box-shadow: 10px 10px 20px 10px blue;
  }
  100%{
  box-shadow: none;
  }
}

.shadow2{
  box-shadow: 10px 10px 30px 10px green;
  animation: shadow2 2s infinite linear;
}
@keyframes shadow2 {
  0%{
    box-shadow: none;
  }
  50%{
  box-shadow: 10px 10px 20px 10px green;
  }
  100%{
  box-shadow: none;
  }
}

.shadow3{
  box-shadow: 10px 10px 30px 10px yellow;
  animation: shadow3 2s infinite linear;
}
@keyframes shadow3 {
  0%{
    box-shadow: none;
  }
  50%{
  box-shadow: 10px 10px 20px 10px yellow;
  }
  100%{
  box-shadow: none;
  }
}

.shadow4{
  box-shadow: 10px 10px 30px 10px purple;
  animation: shadow4 2s infinite linear;
}
@keyframes shadow4 {
  0%{
    box-shadow: none;
  }
  50%{
  box-shadow: 10px 10px 20px 10px purple;
  }
  100%{
  box-shadow: none;
  }
}

.lantern2{
  animation: lantern2 4s infinite linear;
}
@keyframes lantern2 {
  0%{
    rotate: 45deg;
  }
  50%{
    rotate: -45deg;
  }
  100%{
    rotate: 45deg;
  }
}

.setShow{
  animation: setShow 0.2s 1;
}
@keyframes setShow {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

.upAndDown{
  animation: upAndDown 1.25s infinite linear;
}
@keyframes upAndDown {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

@media (max-width: 427px) {
  .IslamicFont{
    font-family: "Aref Ruqaa", serif;
    font-size: xxx-large;
  }

  .IslamicFont2{
    font-family: "Aref Ruqaa", serif;
    font-size: xx-large;
  }

  .IslamicFont3{
    font-family: "Aref Ruqaa", serif;
    font-size: larger;
  }

  .mar{
    margin-top: 10px;
  }

  .marg{
    margin-top: 15px;
  }

  .radius{
    border-radius: 50px;
  }

  .lantern{
    width: 150px;
    height: 300px;
  }

  .lantern2{
  animation: lantern2 4s infinite linear;
}

@keyframes lantern2 {
  0%{
    rotate: 20deg;
  }
  50%{
    rotate: -20deg;
  }
  100%{
    rotate: 20deg;
  }
}
}